<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253080974091-rp6b353nfbut0mgvpgppvgp959sk3pma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253080974091-rp6b353nfbut0mgvpgppvgp959sk3pma</string>
	<key>API_KEY</key>
	<string>AIzaSyATNem-XmVEKb9SQbrY9z-iYR5sS02Uo_o</string>
	<key>GCM_SENDER_ID</key>
	<string>253080974091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>inc.splathon.client-app</string>
	<key>PROJECT_ID</key>
	<string>splathon10-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>splathon10-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253080974091:ios:05cd69f46848fa56</string>
	<key>DATABASE_URL</key>
	<string>https://splathon10-apps.firebaseio.com</string>
</dict>
</plist>